<center>
<h1> This is an info page for <%=@artist.name %> </h1>
<br>
<h3>Artist Age</h3>
<%= @artist.age %>
<br>
<h3>Artist Bio</h3>
<%= @artist.bio %>

<br>
<br>
<img src="https://media.giphy.com/media/vgUFOWBwBkziE/giphy.gif" alt="">
<br>
<a href="/artists"> Home Page</a>
<br>
<a href="/artists/<%=@artist.id%>/edit"> Edit </a>
<br>
<form class="" action="/artists/<%=@artist.id %>" method="post">

<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="DELETE THIS!">
</form>

</center>
